#
# Setup for pre-industrial ESM control run at T63L47/GR15L40.

# perfect-model assimilation runs using restart from 2006 in vga0220a
# to nudge ASSIM_TYPE variables from 1850 - 1850 + NYEARS

EMAIL = aaron.spring@mpimet.mpg.de

ACCOUNT = bm1124
EXP_TYPE = esmControl-LR

## nudging parameters
ASSIM_TYPE = ATMTSI

ATMO_DISTURBED_YEARS = 1878
ATMO_DISTURBANCE = 1.00001


# atm
nudge_ATM = true
# ocean physics
NUDGE_SAO = true
NUDGE_THO = true
NUDGE_SIC = true
NUDGE_SIT = true
# BGC
NUDGE_DIC = false
NUDGE_ALK = false


BASE_YEAR = 2006
BASE_YEARm1 = 2005
TARGET_YEAR = 1850
NYEARS=49

# take nudging data from
NUDGING_EXP_ID = vga0220a_Rerun

# take restart from
PARENT_EXP_ID = vga0220a
PARENT_DATE = ${BASE_YEAR}1231
PARENT_DIR = /work/bm1124/m300524/experiments/$${PARENT_EXP_ID}/restart

END_YEAR = 1899   # eval(( ${TARGET_YEAR} + ${NYEARS} - 1 ))

INITIAL_DATE = ${TARGET_YEAR}-01-01
FINAL_DATE = ${END_YEAR}-12-31




RELAXATION_TIME_IN_DAYS = 60
#MYNUDGECOEFF = eval((1/($RELAXATION_TIME_IN_DAYS * 24 * 3600)))
MYNUDGECOEFF = 1.92e-7
MYICERES = 2
MYMISSVAL = -9e33



ATMO_RESTART_TAGS=echam co2 accw tracer nudg

[jobs]
  [[run_start,run]]
    time_limit = 02:00:00

  [[run_start]]
    [[[files]]]
      [[[[echam]]]]
        [[[[[restart]]]]]
          # nudg
          restart_${EXP_ID}_nudg.nc = /work/bm1124/m300524/experiments/$${NUDGING_EXP_ID}/restart/echam6/restart_$${NUDGING_EXP_ID}_nudg.nc


[namelists]
  [[namelist.echam]]
    [[[runctl]]]
      lnudge = ${nudge_ATM}
      .remove = nproma
    [[[ndgctl]]]
      dt_nudg_start   = split_date($INITIAL_DATE)
      dt_nudg_stop    = split_date($FINAL_DATE $time_stop)
      inudgformat     = 2 # .nc
      ldamplin        = true
      lnudgcli        = false
      lnudgimp        = true
      lnudgini        = false
      ltintlin        = true
      nudgdamp        = 1.
      nudglmax        = 47
      nudglmin        = 1
      nudgdsize       = 0.5
      nudgsmax        = 63
      nudgsmin        = 0
      ndg_file_nc     = ndg%y4.nc
      # pressure nudging
      nudgp           = 1.1574
      # divergence nudging
      nudgd           = raw($$ATM_LEVELS*0.5787)
      # temperature nudging
      nudgt           = raw($$ATM_LEVELS*1.1574)
      # vorticity nudging
      nudgv           = raw($$ATM_LEVELS*4.6296)

  [[OCECTL]]
    [[[ocectl]]]
      # no hamocc feedback due to sw absorbtion
      lfb_bgc_oce = false

      # physics nudging
      set_nudge_sao_region1 = ${NUDGE_SAO},${MYNUDGECOEFF},1,1,1,${OCE_GRID_SIZE_X},${OCE_GRID_SIZE_Y},${OCE_LEVELS},${MYICERES},${MYMISSVAL}

      set_nudge_tho_region1 = ${NUDGE_THO},${MYNUDGECOEFF},1,1,1,${OCE_GRID_SIZE_X},${OCE_GRID_SIZE_Y},${OCE_LEVELS},${MYICERES},${MYMISSVAL}


      set_nudge_sic = ${NUDGE_SIC},${MYNUDGECOEFF},1,1,1,${OCE_GRID_SIZE_X},${OCE_GRID_SIZE_Y},1,1,${MYMISSVAL}

      set_nudge_sit = ${NUDGE_SIT},${MYNUDGECOEFF},1,1,1,${OCE_GRID_SIZE_X},${OCE_GRID_SIZE_Y},1,1,${MYMISSVAL}

      # BGC nudging
      # set_nudge_dic = ${NUDGE_DIC},${MYNUDGECOEFF},1,1,1,${OCE_GRID_SIZE_X},${OCE_GRID_SIZE_Y},${OCE_LEVELS},${MYICERES},${MYMISSVAL}

      # set_nudge_alk = ${NUDGE_ALK},${MYNUDGECOEFF},1,1,1,${OCE_GRID_SIZE_X},${OCE_GRID_SIZE_Y},${OCE_LEVELS},${MYICERES},${MYMISSVAL}

    [[[ioctl]]]
      # Read nudging data
      iolist(2)  = 801,'RELSAO', 'nc4',58
      iolist(3)  = 801,'RELTHO', 'nc4',59
      iolist(4)  = 801,'RELSIC', 'nc4',60
      iolist(5)  = 801,'RELSIT', 'nc4',61
      # iolist(70) = 801,'RELDIC', 'nc4',400
      # iolist(71) = 801,'RELALK', 'nc4',401

      # write out nudging terms
      iolist(95) = 2, '$${EXP_ID}_mpiom_data_3d_mm.nc', 'nc2', 2, 3, 4, 5, 6, 7, 18, 21, 22, 23, 24, 39, 54, 110, 111, 112, 135, 152, 197, 214, 279, 556, 557, 558, 559

  [[NAMELIST_BGC]]
    # changed in year 3459
    [[[bgcctl]]]
      deltaorg = 4.40
      deltacalc = 463.18

[files]
  [[mpiom]]
    [[[varying]]]
      [[[[nudging]]]]
        .base_dir=/work/bm1124/m300524/experiments/$${NUDGING_EXP_ID}/nudging
        .method = 'cdo -f nc2 -r -selyear,$${yr0} -settunits,days -inttime,$${yr0}-01-01,00:00:00,1days -seldate,$$((yr0 - 1))-12-15,$$((yr0 + 1))-01-15'
        RELSAO = so.nc
        RELTHO = thetao.nc
        RELSIC = siconc.nc
        RELSIT = sivol.nc
        # RELDIC = dissic.nc
        # RELALK = talk.nc
  [[echam]]
    [[[varying]]]
      [[[[nudging]]]]
        .base_dir = /work/bm1124/m300524/experiments/$${NUDGING_EXP_ID}/nudging
        ndg%year.nc = $${NUDGING_EXP_ID}_echam6_echam_$$((yr)).grb2.nc
    [[[restart]]]
        restart_${EXP_ID}_nudg.nc = restart_$${EXP_ID}_nudg_$${prevdate}.nc
