#
# Setup for pre-industrial ESM control run at T63L47/GR15L40.

# initialized perfect-model ensembles started from reconstruction simulation
# ATMTSIDICALKlandrall in 1860

EMAIL = aaron.spring@mpimet.mpg.de

ACCOUNT = bm1124
EXP_TYPE = esmControl-LR


# ATMO_DISTURBED_YEARS = 1860 # given by bash loop
# ATMO_DISTURBANCE = 1.00000 # given by bash loop

# INIT_YEAR = 1860  # given by bash loop
# FINAL_YEAR = 1862  # given by bash loop

# take restart from
# PARENT_EXP_ID = ATMTSIDICALKlandrall  # given by bash loop
# PARENT_DATE = 1859-12-31  # given by bash loop
PARENT_DIR = /work/bm1124/m300524/experiments/$${PARENT_EXP_ID}/restart

INITIAL_DATE = ${INIT_YEAR}-01-01
FINAL_DATE = ${FINAL_YEAR}-12-31

MON_DIR=/work/bm1124/m300524/experiments/monitoring
MON_ADD_EXP_IDS = 'vga0220a_Rerun asp_PMassim_ATMTSI3_over_2006 asp_PMassim_ATMTSIDICALKlandralls_over_2006'

ATMO_RESTART_TAGS=echam co2 accw tracer

[namelists]
  [[OCECTL]]
    [[[ocectl]]]
      # no hamocc feedback due to sw absorbtion
      lfb_bgc_oce = false

  [[NAMELIST_BGC]]
    # changed in year 3459
    [[[bgcctl]]]
      deltaorg = 4.40
      deltacalc = 463.18
